@{
    ViewData["Title"] = "Freddies Bank";
}
@model Bank.WebUI.Models.ViewModels.CustomerAccountViewModel

<div class="text-center">
    <h1 class="display-4">Freddies Bank</h1>
    @foreach (var customer in Model.Customers)
    {
        <div class="customers" style="width: 60%; margin: auto">
            <p>Kundid: @customer.CustomerId</p>
            <h2>@customer.Name</h2>
            @foreach (var acc in Model.Accounts)
            {
                <div class="accounts" style="display: flex; justify-content: space-evenly;">
                    @if (acc.CustomerId == customer.CustomerId)
                    {
                        <p>Kontonr: @acc.AccountId</p>
                        <p>Saldo: @acc.Balance sek</p>
                    }
                </div>
            }
        </div>
    }
</div>